@import "Fonts";

* {
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    // -webkit-app-region: no-drag;
    cursor: default !important;
}

body,
html {
    color: white;
    background: #131c23;
    font-family: Roboto;
}

.cardCarousel .cardCarouselOverlay .scrollIndicator {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.cardCarousel:hover .cardCarouselOverlay .scrollIndicator {
    opacity: 0.7;
}

.cardCarousel:hover .cardCarouselOverlay .scrollIndicator:hover {
    opacity: 1;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar * {
    background: transparent;
}
